@charset "ISO-8859-1";

.botaoTabela{
	
	width: 40px;
	height: 30px;
	margin-left: 15px;
}

.botao{
	position: relative;
	margin: 10px 0px 0px 10px;
	left: 70%;
}

.fechar{
	position: relative;
	margin-top: 10px;
	left: 80%;
}

.ui-fileupload-content .ui-progressbar {
    width: 0px;
    height: 0px;
    margin: 0;
    top: 5px;
}

.ui-fileupload-row>div {
    display: block;
    padding: 1px 3px;
}

.ui-fileupload ui-widget ui-fileupload-responsive{
	    width: 90%;
}

.ui-fileupload-progress{
	visibility: hidden;
}

@media screen and (min-width: 1024px) {
	.ui-fileupload-row>div, .ui-fileupload-files {
    display: flex !important;
    justify-content: center;
    align-items: center;
	}
}

@media screen and (max-width: 425px) {
	.ui-fileupload-row>div, .ui-fileupload-files {
    display: flex !important;
    justify-content: center;
    align-items: center;
	}
}

@media screen and (min-width: 768px) {
	.ui-fileupload-row>div {
    display: inline-block;
    padding: 1px 5px;
	}
	.ui-fileupload-files{
		display: flex;
		justify-content: center;
	}
}