.img {
	width: 230px;
	height:200px;
}

.label-title {
	 margin-left: 3%;
}

.label-title-small {
	 margin-left: 20%;
}

.label-desc {
	margin-left: 0%;
}

.label-desc-small{
	 margin-left: 20%;
}   

.line{
	margin-bottom: 5%;
}